[Desktop Entry]
Type=Application
Version=1.0.5
Name=Linux Video Enkoder
Comment=Videos konvertieren
Comment[de]=Videos umwandeln und bearbeiten
Exec=linux-video-enkoder
Icon=linux-video-enkoder
Terminal=false
StartupNotify=true
Categories=AudioVideo;AudioVideoEditing;
